# python-dotenv
# python-telegram-bot
# groq
# openai
# chatgpt-md-converter
# pyngrok==7.2.1
# PyYAML==6.0.2
# Flask

python-telegram-bot==20.5
fastapi==0.100.1
python-dotenv==1.0.0
groq==0.12.0  
uvicorn==0.23.2
